* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #242f48;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;     
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main {
    flex: 1;
}

a {
    text-decoration: none; 
    color: inherit;        
}


/* ----------SCROLLBAR START-------*/

::-webkit-scrollbar {
    width: 0.75em;
}

::-webkit-scrollbar-track {
    background: #0f1838; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        180deg,
        #ffffff,
        #cfd8dc
    );
    border-radius: 10px;
    border: 2px solid #0f1838;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #0f1838;
}

/* ----------SCROLLBAR END-------*/

@media (max-width: 48) {
    html {
        font-size: 14px;
    }
}